includes/config.php
setup/.installed
*.sqlite
*.log
/vendor/
/node_modules/
assets/icons/board/
assets/icons/mfu/
assets/icons/other/
assets/icons/pc/
assets/icons/printer/
assets/icons/router/
assets/icons/server/
assets/icons/switch/
